*{
    margin: 0;
    padding: 0;
    background-color: rgb(251, 248, 245);
    font-family: "Poppins", sans-serif;
}


.navbar{
    display: flex;
    justify-content: space-between;
    padding: 2px 40px;
    margin: 20px;
    border: 1px solid rgb(241, 232, 232);
    border-radius: 20px;
}

ul{
    display: flex;
    list-style: none;
}

.list{
    align-content: center;
}

li{
    margin: 10px;
}

li :hover{
    color: red;
    cursor: pointer;
}

a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.navsalink{
    display: flex;
    text-align: right;
    align-items: center;
}

hr{
    margin: 50px;
    border: 2.2px solid rgba(3, 139, 5, 0.767);
}

.container{
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.leftcont{
    width: 50%;
justify-content: center;
}

h1{
    font-size: 2.5em;
    margin: 70px;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: rgb(0, 1, 1);
}

span{
    color: red;
}

.rightcont{
    /* border: 2px solid red; */
    width: 40%;
    text-align: center;
    margin: 0 70px;
}

img{
    justify-items: center;
}

#contimg{
    justify-content: center;
    width: 30vw;
    justify-items: center;
}

/* experience container css */

h2{
    /* text-align: center; */
    color: rgb(8, 0, 0);
}

.expcont{
    /* border: 2px solid black; */
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 30px;
}

.item{
    font-family: "Poppins", sans-serif;
    border: 1px solid rgb(127, 122, 122);
    border-radius: 20px;
    width: auto;
    height: 35vh;
    align-content: center;
    margin: 5px;
    padding: 10px;
}

.inlineli{
    margin: 5px 20px ;
    font-size: 0.8em;
    text-align: justify;
}

p{
    font-weight: 500;
    color: rgb(251, 3, 7);
}

#img{
    width: 50%;
    align-items: center;
    padding: 0 20%;
}

/* footer navbar css */


.about_foot{
    text-align: left;

}
.social_link{
    display: flex;
    background-color: #464a4d;
    height: 20vh;
    text-align: end;
    padding: 20px;
}

.fa {
    padding: 10px;
    font-size: 10px;
    width: 10px;
    height: 10px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }

  ::before{
    margin: -5px
  }
  
  .fa:hover {
      opacity: 0.8;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
    align-items: center;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-instagram {
    background: #ec2359;
    color: white;
  }

  .fa-linkedin {
    background: #4e95f2;
    color: white;
  }

  .fa-youtube {
    background: #f40901;
    color: white;
  }

  .fa-github {
    background: #010d26;
    color: white;
  }

  /* Mobile responsive styles */
@media screen and (max-width: 768px) {

    .logo img{
        height: 5vh;
        width: 80vw;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 10px 20px;
        margin: 10px;
    }

    .navsalink {
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    ul {
        /* flex-direction: column; */
        padding: 10px 0;
        font-size: 2em;
    }

    li {
        margin: 8px;
    }

    .container {
        flex-direction: column;
        margin: 20px;
    }

    .leftcont, .rightcont {
        width: 100%;
        margin: 10px 0;
        text-align: center;
    }

    h1 {
        font-size: 1.8em;
        margin: 40px 20px;
    }

    #contimg {
        width: 60vw;
        margin-top: 20px;
    }

    .expcont {
        grid-template-columns: 100%;
        margin: 20px 10px;
    }

    #pragya1{
        grid-area: 3;
    }

    .item {
        height: auto;
        padding: 15px;
    }

    .inlineli {
        font-size: 1em;
    }

    .social_link {
        /* flex-direction: column; */
        align-items: center;
        height: auto;
        padding: 15px;
    }

    .fa {
        margin: 5px;
        font-size: 14px;
        width: 30px;
        height: 30px;
        padding: 10px;
    }
}

@media screen and (max-width: 393px) {
    .logo img{
        height: 5vh;
        width: 80vw;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 10px 20px;
        margin: 10px;
    }

    .navsalink {
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .navsalink {
        /* flex-direction: column; */
        align-items: center;
        width: 100%;
    }

    ul {
        /* flex-direction: column; */
        margin: 5px;
        font-size: 1.2em;
    }

    .container {
        flex-direction: column;
        margin: 20px;
    }

    .leftcont, .rightcont {
        width: 100%;
        margin: 10px 0;
        text-align: center;
    }

    h1 {
        font-size: 1.8em;
        margin: 40px 20px;
    }

    #contimg {
        width: 60vw;
        margin-top: 20px;
    }

    .expcont {
        grid-template-columns: 100%;
        margin: 20px 10px;
    }

    .item > img{
        width: 200px;
        justify-content: center;
    }
    .item {
        text-align: center;
        height: auto;
        padding: 15px;
    }

    .inlineli {
        font-size: 1em;
    }

    .social_link {
        grid-template-rows: 3, 4;
        align-items: center;
        height: auto;
        padding: 15px;
    }

    .fa {
        margin: 5px;
        font-size: 14px;
        width: 30px;
        height: 30px;
        padding: 10px;
    }
    .about_foot{
        color: white;
        background-color: transparent;
        font-size: 1.5em;
        align-items: center;
        text-align: justify;
    }
}
